{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/static.css' %}">
</head>
<body>
{{ product.name }}


<section>
    <div class="block_left" id="bg"></div>
    <div class="block_right">
      <div class="block_color">
        <p>Цвет:</p>
        <div class="block1">

          {% for color_prod in colors %}

              {% if forloop.first %}

                  <input checked='checked' data-col='{{ color_prod }}' id="{{ color_prod }}" type="radio" name="bl1"
                     onclick="document.getElementById('bg').style.backgroundColor = '{{ color_prod }}';" />
                  <label class="{{ color_prod }}" for="{{ color_prod }}"></label>

              {% else %}

                  <input data-col='{{ color_prod }}' id="{{ color_prod }}" type="radio" name="bl1"
                     onclick="document.getElementById('bg').style.backgroundColor = '{{ color_prod }}';" />
                  <label class="{{ color_prod }}" for="{{ color_prod }}"></label>

              {% endif %}

          {% endfor %}

        </div>
      </div>
      <div class="block_size">
        <p>Размер:</p>
        <div class="block1">

           {% for size_prod in sizes %}

               {% if forloop.first %}

                   <input checked='checked' data-size="{{ size_prod }}" id="{{ size_prod.lower }}" type="radio" name="bl2" />
                   <label class="{{ size_prod.lower }}" for="{{ size_prod.lower }}">{{ size_prod }}</label>

               {% else %}

                   <input data-size="{{ size_prod }}" id="{{ size_prod.lower }}" type="radio" name="bl2" />
                   <label class="{{ size_prod.lower }}" for="{{ size_prod.lower }}">{{ size_prod }}</label>

               {% endif %}

           {% endfor %}

        </div>
      </div>
      <div class="block_material">
        <p>Материал:</p>
        <div class="block1">

            {% for material_prod in materials %}

                {% if forloop.first %}

                    <input checked='checked' data-material="{{ material_prod }}" id="{{ material_prod  }}"
                       type="radio" name="bl3" />
                    <label class="{{ material_prod }}" for="{{ material_prod }}">{{ material_prod }}</label>

                {% else %}

                    <input data-material="{{ material_prod }}" id="{{ material_prod  }}"
                       type="radio" name="bl3" />
                    <label class="{{ material_prod }}" for="{{ material_prod }}">{{ material_prod }}</label>

                {% endif %}

            {% endfor %}

        </div>
      </div>
      <p id="message"></p>
    </div>
  </section>

<script>console.log("Kol");</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(function() {
  var dataColor = 'data-col';
  var dataSize = 'data-size';
  var dataMaterial = 'data-material';

  var colorInput = ".block_color input";
  var sizeInput = ".block_size input";
  var materialInput = ".block_material input";

  var color = $(colorInput+':checked').attr(dataColor);
  var size = $(sizeInput+':checked').attr(dataSize);
  var material = $(materialInput+':checked').attr(dataMaterial);

  var prod_id = {{ product.id }};
  var url = "{% url 'product_price' %}";

  var updatePrice = function(body) {
      return $.ajax({
        type: "GET",
        url: url,
        data: Object.assign(
          {
            prod: prod_id
          },
          body
        ),
        success: function(response) {
          $("#message").text(+response.price ? response.price : 'Товар отсутствует');
        }
      });
    };

    $(colorInput).click(function() {
      color = $(this).attr(dataColor);
      updatePrice({ color: color, size: size, material: material });
    });

    $(sizeInput).click(function() {
        size = $(this).attr(dataSize);
        updatePrice({ color: color, size: size, material: material });
    });

    $(materialInput).click(function() {
        material = $(this).attr(dataMaterial);
        updatePrice({ color: color, size: size, material: material })
    });

});
</script>
</body>

